<template>
  <div id="registSection">
    <div class="row">
      <div class="column">
        <h1 class="title">
          รหัสอ้างอิง
        </h1>
        <a-form class="form">
          <a-form-item>
            <a-input class="custom-input" placeholder="กรอกรหัส OTP" />
          </a-form-item>
        </a-form>
      </div>
    </div>
    <div class="row">
      <nuxt-link
        tag="button"
        type="button"
        class="oa-button is-primary ant-btn ant-btn-default"
        to="/auction/open/success"
      >
        ยืนยันการเปิดการประมูล
      </nuxt-link>
    </div>
    <div class="row">
      <div class="column" style="margin-top: 20px;">
        <label class="note">* กรุณาตรวจสอบข้อมูลให้ถูกต้องก่อนทำการยืนยันการเปิดประมูล</label>
        <label class="note">* เมื่อทการกดปุ่ม “ยืนยันการเปิดประมูล” จะไม่สามารถยกเลิกได้</label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ConfirmSection'
}
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title {
  font-size: 16px;
  font-weight: 500;
}
.next-button {
  background-color: #FFB300;
  border: none;
  color: #fff;
}
.note {
  font-size: 12px;
  font-weight: 400;
}
</style>
