<template>
  <div id="servicesSection">
    <base-container>
      <div class="header" style="text-align: center;">
        <h1 style="text-align: center; font-weight: 500; font-size: 40px;">
          บริการของเรา
        </h1>
        <!-- <h2 style="color: #a3a3a3; text-align: center; font-weight: 300; font-size: 20px;">
          ฟลุท เพรียวบางเกจิ ซิงโมเดิร์นไฮไลท์โลโก้ เก๊ะโต๊ะจีน คลิปซาร์แมกกาซีน ริกเตอร์ แมมโบ้นอมินีว่ะเพลซโหลน
        </h2>
        <h2 style="margin-top: -10px; color: #a3a3a3; text-align: center; font-weight: 300; font-size: 20px;">
          สเปกหมวยโอเพ่น แซวติ๋มแรลลี่อาว์ดีพาร์ตเมนต์ แพ็คไงมิลค์บ็อกซ์ล็อต
        </h2> -->
      </div>
      <div :columns="4" stackable>
        <a-row type="flex" justify="center" style="text-align: center; margin-top: 50px;" :gutter="24">
          <a-col
            :span="6"
            :xs="24"
            :md="6"
            text-align="center"
          >
            <no-ssr>
              <i class="fa fa-home" style="height: 70px;" />
            </no-ssr>
            <h4>ระบบซื้อขาย</h4>
            <p style="text-align: center; font-weight: 300;">
              การซื้อขายสินค้าในรูปแบบการประมูล ผู้ที่ให้ราคาสูงสุดคือผู้มีสิทธิอันดับแรกในการยืนยันพร้อมกับทำการจ่ายเงินตามเวลาที่กำหนด หากผู้เสนอราคาสูงสุดไม่ได้ทำรายการตามขั้นตอนสิทธิจะตกไปให้กับผู้เสนอราคาอันดับถัดไป
            </p>
          </a-col>
          <a-col
            :span="6"
            :xs="24"
            :md="6"
            text-align="center"
          >
            <no-ssr>
              <i class="fa fa-phone" style="height: 70px;" />
            </no-ssr>
            <h4>บริการเก็บผลผลิต</h4>
            <p style="text-align: center; font-weight: 300;">
              บริการนี้จะให้ผู้ต้องการ รับจ้างเก็บผลผลิต มาลงทะเบียน เพื่อเป็นตัวเลือกให้ผู้ใช้งานที่ต้องการบริการนี้มาเลือกใช้งาน โดยผู้ใช้งานจะติดต่อผู้ให้บริการโดยตรง ในเบื้องต้นระบบยังไม่คิดค่าบริการ ผู้ใช้งานสามารถจ่ายค่าใช้บริการตามจริงที่ผู้บริการเรียกรับ
            </p>
          </a-col>
          <a-col
            :span="6"
            :xs="24"
            :md="6"
            text-align="center"
          >
            <no-ssr>
              <i class="fa fa-bug" style="height: 70px;" />
            </no-ssr>
            <h4>บริการคัดเกรด</h4>
            <p style="text-align: center; font-weight: 300;">
              บริการนี้จะให้ผู้ต้องการ รับจ้างคัดเกรด มาลงทะเบียน เพื่อเป็นตัวเลือกให้ผู้ใช้งานที่ต้องการบริการนี้มาเลือกใช้งาน โดยผู้ใช้งานจะติดต่อผู้ให้บริการโดยตรง ในเบื้องต้นระบบยังไม่คิดค่าบริการ ผู้ใช้งานสามารถจ่ายค่าใช้บริการตามจริงที่ผู้บริการเรียกรับ
            </p>
          </a-col>
          <a-col
            :span="6"
            :xs="24"
            :md="6"
            text-align="center"
          >
            <no-ssr>
              <i class="fa fa-leaf" style="height: 70px;" />
            </no-ssr>
            <h4>บริการบรรจุ</h4>
            <p style="text-align: center; font-weight: 300;">
              บริการนี้จะให้ผู้ต้องการ รับจ้างบรรจุ มาลงทะเบียน เพื่อเป็นตัวเลือกให้ผู้ใช้งานที่ต้องการบริการนี้มาเลือกใช้งาน โดยผู้ใช้งานจะติดต่อผู้ให้บริการโดยตรง ในเบื้องต้นระบบยังไม่คิดค่าบริการ ผู้ใช้งานสามารถจ่ายค่าใช้บริการตามจริงที่ผู้บริการเรียกรับ
            </p>
          </a-col>
        </a-row>
      </div>
      <div style="text-align: center;">
        <a-button class="oa-button is-primary mg-t-48px">
          บริการอื่นๆ
        </a-button>
      </div>
    </base-container>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
#servicesSection {
  padding-top: 80px;
  padding-bottom: 100px;
}
h4 {
  font-weight: 500;
}
.row {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.column {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}
.mg-t-48px {
  margin-top: 48px;
}
</style>
